.light-dark-mode {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


[data-theme="dark"] {
    background-color: #000;
    color: #fff;
}

[data-theme="light"] {
    background-color: #fff;
    color: #000;
}