* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    height: 100vh;
}

.search-user {
    width: 250px;
    border: 1px solid #000;
    height: 400px;
    text-align: center;
    padding: 1rem;
}

.search-user ul {
    list-style: none;
    padding: 0;

}